{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About</h1>
    </div>
    You are on the <strong>About</strong> page</ br>
    <a href="/rango/">Click to return to the Main</a><br />
    <p>Number of visits: {{ visits }}</p>
    <div>
        <p></strong>.</p>
        <img width="50%" height="50%" src="{% static "images/super-mario-world.jpg" %}"
             alt="Picture of super mario world" alt="Picture of mario" />
    </div>
{% endblock %}
